/* Profile */

header.profile {
	background: linear-gradient(226deg, #BE6E94 0%, #3CCBFA 100%);
	width: 100%;
	padding: em(50);
	float: left;

	figure {
		display: block;
		@include backgroundSize(cover);
		width: em(150);
		height: em(150);
		margin: 0 auto em(30);
		border: 4px solid $white;
		@include borderRadius(100%);
	}

	h1 {
		color: $white;
		font-size: em(14);
		text-align: center;

		span.name {
			@include quicksand(em(24), 500);
		}

		span.place {
			@include quicksand(em(24), 400);
		}
	}
}

section.meta {
	background: $white;
	width: 100%;
	float: left;
	padding: em(25) 0;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);

	div.table {
		display: table;
		margin: 0 auto;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		height: em(30);

		li {
			display: inline;
			@include quicksand(em(20), 500);
			color: $black;
			margin: 0 em(20);

			span.data {
				color: $secundary;
			}

			a.edit {
				background: $secundary;
				@include quicksand(em(14), 400);
				color: $white;
				padding: em(5) em(12);
				margin: -3px 0 0 0;
				float: right;
				@include borderRadius(50px);
				@inlude transition(300ms);

				img {
					float: right;
					margin: 3px 0 0 10px;
				}
			}

			a.edit:hover {
				background: $primary;
			}
		}
	}
}

section.stories {
	padding: em(30) 0 0;
	float: left;
	width: 100%;

	h2 {
		@include quicksand(em(30), 500);
		color: $primary;
		text-align: center;
		margin: em(10) 0 em(30);
	}

	article {
		position: relative;
		background: $white;
		width: em(370);
		margin-bottom: em(30);
		padding-bottom: em(20);
		overflow: hidden;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
		@include borderRadius(3px);

		figure {
			display: block;
			@include backgroundSize(cover);
			width: 100%;
			height: em(220);
			margin: 0;
		}

		h1 {
			@include lobster(em(22));
			color: $tertiary;
			padding: 0 em(15);
			margin: em(10) 0;
		}

		section {
			@include quicksand(em(14), 400);
			color: $black;
			padding: 0 em(20);

			a {
				@include transition(300ms);
			}

			a:hover {
				color: $primary;
			}
		}

		p {
			@include openSans(em(14));
			color: $text;
			line-height: em(24);
			padding: 0 em(20);
			margin: em(10) 0;
		}

		> a {
			@include quicksand(em(16), 500);
			color: $primary;
			padding: 0 em(20);
			@include transition(300ms);
		}

		> a:hover {
			color: $secundary;
		}
	}
}
