<% include ../partials/head %>

<main id="error">
	<div class="wrapper">
		<img src="/images/logo.svg">	
		<article>
			<h1><%= code %></h1>
			<p><%= message %></p>
			<a href="/feed">Go back to feed</a>
		</article>
	</div>
</main>

<% include ../partials/footer %>